<VirtualHost *:80>

  ServerName webmaster@localhost.com
  DocumentRoot /home/anne/Documents/dev/ansible-apache/ansible/templates/www/

  ErrorLog ${APACHE_LOG_DIR}/server2.imingo.net.error.log
  CustomLog ${APACHE_LOG_DIR}/server2.imingo.net.access.log combined

</VirtualHost>